<div class="col-md-8 col-md-offset-2" style="margin-top: 20px" id="tableBlock"></div>

<script type="text/javascript">
    $(document).ready(function () {
        GetAllQuests();
    });
    // Получение всех книг по ajax-запросу
    function GetAllQuests() {

        $.ajax({
            url: '/api/values',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteResponse(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    // вывод полученных данных на экран
    function WriteResponse(quests) {
        var strResult = "<table class=\"table\"";
        strResult += "<tr>";
        strResult += "<th>Quest name</th>";
        strResult += "<th>Duration</th>";
        strResult += "<th>Players limit</th>";
        strResult += "<th>Price</th>";
        strResult += "<th></th></tr>";
        $.each(quests, function (index, quest) {
            strResult += "<tr><td>" + quest.Id + "</td><td> " + quest.Name + "</td><td>" +
                quest.Duration + "</td><td>" + quest.PlayersLimit + "</td><td>" + quest.Price +
                "</td><td><a id='editItem' style='cursor: pointer' data-item='" + quest.Id + "' onclick='GetBook(" + quest.Id + ");' >Info</a></td>";
        });
        strResult += "</table>";
        $("#tableBlock").html(strResult);

    }

    function GetBook(id) {
        $.ajax({
            url: '/api/values/' + id,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                alert(data.Name);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }
</script>